@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

/* General */
:root {
  --primary-dark: #1B494B;
  --primary-light: #C9D9C2;
  font-size: 20px;
}

*, *::before, *::after {
  margin: 0; 
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-dark);
  color: white;
}

body {
  max-width: 80%;
  overflow-x: hidden;
  margin: auto;
}

button {
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:hover, button:hover{
  color: var(--primary-light);
}

h1, h2 {
  color: var(--primary-light);
  font-family: 'Roboto Slab';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 40px 0;
}

h3 {
  font-size: 1.2rem; 
  font-weight: bold;
  margin: 20px 0;
  color: var(--primary-light);
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

/* Header */
#header {
  display: flex; 
  align-items: baseline;
  justify-content: space-between;
  margin: 10px 0;
  position: sticky;
  top: 0;
}

#header h2 {
  margin: 0;
}

#header #right {
  display: flex; 
  gap: 1em;
}

/* Intro */
#intro {
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#intro p {
  margin-top: 20px;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

#avatar {
  margin-top: 50px;
  height: 300px; 
}

/* Skills */
#skills {
  text-align: center;
  margin-bottom: 20vh;
}

#lists {
  display: flex;
  justify-content: space-around;
}

/* Contact */
#contact {
  text-align: center;
  margin-bottom: 40px;
}

#links {
  display: flex; 
  flex-direction: column; 
  gap: 20px;
  font-size: 1.5rem;
}

/* Projects */
#projects {
  text-align: center;
  margin-bottom: 20vh;
}

#board {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); 
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.project {
  display: flex;
  flex-direction: column;
}

.project img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project .links {
  display: flex; 
  gap: 10px;
  justify-content: center;
}

.project a{
  padding: 5px 10px;
  font-size: .8rem;
  border: solid 1px black; 
  border-radius: 10px;
  background-color: white;
  color: var(--primary-dark);
}

.project a:hover {
  color: var(--primary-light);
}

#github{
  background-color: white; 
  color: var(--primary-dark);
  padding: 5px 20px; 
  border-radius: 10px;
}