.container {
  max-width: 75vw;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  margin-inline-end: 2rem;
}

.navLink {
  padding: 0.2em 0;
}

.navLink:hover {
  border-bottom: 1px solid black;
}

.intro {
  display: flex;
  gap: 10vw;
}

.main {
  margin: 20vh 0;
  max-width: 40vw;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  position: relative;
  top: 0;
  transition: top 0.2s ease;
}

.link:hover {
  top: -0.3em;
}

.button {
  padding: 0.5em 1.5em;
  font-size: 15px;
  border-radius: 0.5em;
  background: var(--primary-light);
  border: 1px solid var(--primary-light);
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  color: black;
}

.button:hover {
  border: 1px solid white;
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.model {
  width: 25vw;
}

@media (orientation: portrait) {
  .container {
    margin: 5vh auto;
  }

  .logo {
    margin: 0;
  }

  .intro {
    flex-direction: column-reverse;
    margin-top: 5vh;
  }

  .main {
    max-width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .model {
    width: 100%;
    height: 300px;
  }
}
