.container {
  max-width: 75vw;
  margin: 2vh auto 5vh auto;
  display: flex;
  gap: 5vw;
}

.post {
  max-width: 50vw;
  margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 100;
	line-height: 1.8em;
}

.title {
	text-align: center; 
	margin: 10vh 0;
}

.body h2 {
	margin-top: 3rem;
}

.body pre {
	background-color: #dededb;
	border: 1.5px solid #d2d2cd;
	border-radius: 10px;
	padding: 1rem;
	color: #464645;
}

.body strong {
	color: black;
}

.body p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #464645;
}

.body a {
	color: blue;
}

.body pre {
	white-space: pre-wrap;
}
